/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

.btnPrimary {
  @apply py-2 px-8  bg-purple-500 font-semibold text-white rounded  hover:bg-primary
}

.gradientBg {
  background: linear-gradient(99deg, #EE9AE5 0%, #5961F9 100%);
}

@media (max-width: 768px) {
  .gradientBg {
  background: linear-gradient(29deg, #EE9AE5 0%, #5961F9 100%);

  }
}